{% extends "base.html" %}


{% block h1 %}Details for {{ anime.title }}{% endblock %}

{% block content %}

    Synopsis:
    <pre class="snippet" data-language="html"><code>
    {{ anime.synopsis }}
    </code></pre>

    Genres:
    <ul>
    {% for genre in anime.genre.all %}
        <li>{{ genre }}</li>
    {% endfor %}
    </ul>

    Upcoming releases:
    <ul>
    {% for episode in anime.upcoming_releases %}
        <li>Episode {{ episode.episode_num }} - {{ episode.release_date }}</li>
    {% endfor %}
    </ul>


{% endblock %}