{% extends 'base.html' %}

{% block h1 %}Release Information{% endblock %}

{% block content %}
<p>
This site aims to be a robust resource for fan-subtitled anime
 movies and shows with the following functionality
<ul>
<li>Search Anime by a variety of criteria</li>
<li>Release date features including</li>
    <ul>
    <li>upcoming release calandar</li>
    <li>email notifications of upcoming releases of your favorite animes</li>
    </ul>
<li>profiles for different fansub groups</li>
<li>popularity and other ranking data from myanimelist.com</li>
</ul>
{% endblock %}