{% extends 'base.html' %}

{% block style %}
<style>
td
{
height:100px;
width:100px;
text-align:left;
vertical-align:top;
}
th
{
width:100px;
text-align:center;
vertical-align:top;
}
</style>
{% endblock %}


{% block content %}
<table border=3>
<tr>
<th>
    <a href="/release_info/calendar/{{ calendar.prev_year }}/{{ calendar.prev_month }}/">prev</a>
</th>
<th colspan=5>
    <h2>{{ calendar.month_string }}, {{ calendar.date.year }}</h2>
</th>
<th>
    <a href="/release_info/calendar/{{ calendar.next_year }}/{{ calendar.next_month }}/">next</a>
</th>
</tr>
<tr>
{% for day_name in calendar.header %}
    <th>{{ day_name }}</th>
{% endfor %}
</tr>

{% for row in calendar.rows_list %}
    <tr>
    {% for day in row %}
        <td>{{ day.0 }}
        {% for item in day.1 %}
            <br>
            <a href='http://127.0.0.1:8000/release_info/anime_detail/{{item.anime.id}}'>{{ item }}</a>
        {% endfor %}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>


{% endblock %}