<!DOCTYPE HRML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">
<head>

    {% block css-links %}
    {% load staticfiles %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
    <link rel="stylesheet" href="http://purecss.io/combo/1.0.7?/css/main.css&/css/rainbow/baby-blue.css">
    <link rel="stylesheet" href='{% static "blue.css" %}'>
    {% block style %}{% endblock %}
    {% endblock %}
    
    <title>{% block title %}Fansub Watch{% endblock %}</title>
    
</head>
<body>
    <h1>{% block h1 %}{% endblock %}</h1> 
    <p>
    {% block content %}
    {% endblock %}
    </p>
    {% block footer %}
    <hr>
    <p>Thanks for visiting my site</p>
    <button class="pure-button">clickytest</button>
    {% endblock %}
    
</body>
</html>
    